extends layout

block content
  div#content(class="row")
    div(class="small-12 small-centered columns")
      h1 Welcome

block footer
  div#footer(class="row")
    div(class="small-12 small-centered text-center columns")
        a#authenticate(class="radius button" href="/login") Login to Instagram for more...