doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/foundation.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/modernizr/modernizr.js')
      script(src='http://localhost:35729/livereload.js')
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDQVUAUDm3fRWRlhh8mRI-7Rtd-zOeXckE')
      script(type='text/javascript' src='/js/geolocationmarker-compiled.js')
      script(src='/js/map.js')
  body
    div#header(class="row")
      div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns radius")
        a(href="/")
          img(src="/img/seethisspot_header.png")
    div#toolbar(class="row")
      div(class="small-12 small-centered medium-6 medium-centered columns")
        form(name="searchForm" action="/search" method="POST")
          div(class="row")
            div(class="small-3 columns text-right")
              label(class="inline") Radius: 
            div(class="small-4 columns")
              input(type="text" id="searchradius" name="searchradius" value="500" text-align="right")
            div(class="small-2 columns")
              label(class="inline") meters
            div(class="small-3 columns")
              button(class="seeit" type="submit" onclick="return locationSearch();") See It!
    div#map-panel(class="row")
      div(class="small-12 small-centered medium-10 medium-centered columns")
        div#map-canvas
    block content
    script(src='/components/foundation/js/foundation.min.js')