body {
  //padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Search result list styling */
#searchresults {
	max-width: none;
  margin-top: 1em;

  .columns {
    padding:0;
  }

  #resultsList li {
    padding: 0.5em 0 ;
  }

  .imagedetails .profilepic, #detailmodal .profilepic {
    max-width: 60px;
    padding: 0.2em;
  }

  .imagedetails .caption {
    padding: 0.2em;

    span {
      padding: 0.2em;
    }
  }

  .imagedetails .likes, .imagedetails .timer {
    text-align: right;
    padding: 0.2em;

    i.fa {
      padding: 0em 0.4em;
    }
  }

  .likebutton {
    cursor: pointer;
  }

  .timer {
    opacity: 0.5;
  }
}

.nosearchresult {
  text-align: center;
  padding: 5em 0; 
}

#map-canvas {
	width: 100%;
	height: 270px;
}

#toolbar, #searchbar {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding: 0.25em 0em;

	input[type="text"] {
		padding:0em 0.1em;
		margin: 0em 0em;
	}
	label.inline {
		margin:0em 0.5em;
		font-size: 1.1em;
	}

	label.inline-bottom {
		margin:0em 0.25em;
		font-size: 1.1em;
		padding:0.75em 0em 0.25em 0.1em;
	}

}

#toolbar {
	input[type="text"] {
		font-size: 2em;
		max-width: 5em;
		text-align: right;
	}
}

button.seeit {
	width: 60%;
	margin: 0.25em 5%;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.reveal-modal .title {
	font-size: 2em;
	margin-left: 1em;
}

.off-canvas-list i.fa {
	padding-right: 0.5em;
}

.row .row {
  margin: 0px;
}

img[src*='gstatic.com/'], img[src*='googleapis.com/'] {
	max-width: none;
}

@media only screen and (min-width: 642px) {
	#toolbar {
		div {
			padding: 0;
		}
	}
}